.container 
  %p.profile_edit Profile Edit
  .profile_avatar
    - if @profile&.avatar&.attached?
      = image_tag @profile.avatar, class: 'profile_avatar'
    
  .profile_edit_form
    = form_with(model: @profile, url: profile_path, method: 'put', local: true ) do |f|
      %div
        = f.file_field :avatar
      %div
        = f.submit '更新', class: 'btn'