.container
  %p.board_head_title All Board 
  - @boards.each do |board|
    = render 'commons/board', board: board

  .new_board_link
    = link_to new_board_path do
      %p.new_board_text + Add new board
  
  .session_link
    - if user_signed_in?
      = link_to 'ログアウト', destroy_user_session_path
    - else 
      = link_to 'ログイン', new_user_session_path
