.container
  %p.board_head_title All Board 
  - @boards.each do |board|
    = render 'commons/board', board: board

  .new_board_link
    = link_to new_board_path do
      %p.new_board_text Add new board
  
  %div
    = link_to 'ログアウト', destroy_user_session_path, class: 'logout_link'