%p All Board 
- @boards.each do |board|
  = render 'commons/board', board: board
%div 
  = link_to 'New Board',  new_board_path
%div
  = link_to 'プロフィール編集ページへ',edit_profile_path
%div
  = link_to 'ログアウト', destroy_user_session_path