/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */
@import 'board';
@import 'task';
@import 'login';
@import 'profile';


.container {
  width: 95%;
}

body {
  text-decoration: none;
 
}
a:hover {
  text-decoration: none;
}

header {
  border-bottom: 1px solid #2e2d2d6c;
  
}
.header_title {
  font-size: 18px;
  padding-left: 20px;
  line-height: 50px;
  margin : auto 0;
  font-weight: normal;
  float: left;
}

.header_usericon {
  float: right;
  width: 30px;
  border-radius: 1000px;
  margin-top : 10px;
  margin-right: 15px;
 

}
.clear {
  clear: both;
}

.logout_link {
  float: right;
  font-size: 11px;
  color: black;
  opacity: 0.5;
  margin-right: px;
}

 @import "bootstrap";
