.comment_head_title {
  margin-top: 25px;
  font-size: 26px;


}

.comment {
  margin-bottom: 5px;

  .comment_content {
    font-size: 12px;
    padding-top: 2px;
    padding-left: 50px;

  }




  .task_comment_delete {
    float: right;
    position: relative;
    top: -10px;
    right: 10px;
    a {
      color: black;
      opacity: 0.4;
      font-size: 11px;
  
    }
  }

}

.comment_avatar img{
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 100%;
}


.new_comment_link {
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom : 20px;
  padding-left: 17px;
  padding-top: 20px;
  padding-bottom : 15px;
  text-align: center;

}


.new_comment_text{
  line-height: 40px;
  color: black;
}

.head_title {
  font-size: 26px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 25px;
}


.task_edit_title {
  font-size: 26px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom:20px;
}
