
.profile_edit {
  font-size: 26px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom:20px;

}
.profile_avatar{
  width: 50px;
  width: 50px;
  border-radius: 100%;
  margin-bottom: 30px;
  padding: 3px;


 }
