.task_image {
  width: 95%;
  display: block;
  
  border-radius: 8px;
  margin-bottom: 27px;
}

.deadline_form {
  width: 100%;

}

.task_show_image img{
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;

}
.task_title {

  font-size: 26px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom:20px;
  float: left;

}

.task_show_dropbtn {
  position: relative;
  top: 27px;
}

.task_show_dropbtn_content {
  position: relative;
  top: 50px;
}

.task_content {
  background-color: #F4F4F4;
  border-radius: 10px;
  padding: 20px 0px 20px 15px;
  margin-bottom:20px;
}

.deadline_text {
  float: left;
  margin-right: 5px;
  font-size: 18px;
}

.deadline_date {
  font-size: 18px;
}

.task_link_container {

  a {
    color: black;
    opacity: 0.4;
    font-size: 11px;
  }
}